#education-section {
  height: 100vh;
  /* width: 100vw; */
  color: white;
  background-color: #111;
  display: flex;
}

.school {
  box-shadow: 0 5px 20px black;
  padding: 5%;
  margin: 30px;
  width: 500px;
}

.Lifechoices {
  box-shadow: 0 5px 20px black;
  padding: 5%;
  margin: 30px;
  width: 500px;
}

.edu-items {
  display: flex;
  margin-left: 20px;
}

.section-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* margin-left: -110px; */
}

.Section-heading {
  font-size: 20px;
  display: flex;
  margin-bottom: 40px;
  font-weight: 100;
  margin-left: 50px;
}

.Section-heading::before {
  content: "";
  /* position: absolute; */
  background: white;
  height: 1px;
  width: 50px;
  margin-top: 10px;
  margin-right: 10px;
}

.head {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 50px;
  border-bottom: 1px solid red;
}

.edu_desc {
  padding-top: 10px;
}

.edulist {
  margin-left: 20px;
}
