body {
  margin: 0;
  font-family: sans-serif;
}
.heading {
  position: absolute;
  text-align: center;
  top: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.heading p {
  color: white;
  font-size: 70px;
  font-weight: 100;
  letter-spacing: 2px;
}

.land {
  background-color: #111;
}

#particles-js {
  /* background: #111; */
  height: 100vh;
  /* width: 100vw; */
  background: none;
}

.description {
  color: white;
  font-size: 20px;
  font-weight: 200;
}

.image {
  /* border: 3px red solid; */
  border-radius: 50%;
  height: 300px;
  width: 300px;
  object-fit: fill;
  margin-top: 50px;
  box-shadow: 0 5px 20px black;
  /* background: none; */
  font-size: 40px;
  position: relative;
  margin-right: 30px;
  z-index: 100;
}

.my-name {
}
