#skills-section {
  height: 100vh;
  /* width: 100vw; */
  background-color: #111;
}

.skill-box {
  margin-left: -10px;
}

.skill-heading {
  font-size: 20px;
  display: flex;
  margin-bottom: 40px;
  font-weight: 100;
  color: white;
  margin-left: 50px;
}

.skill-heading::before {
  content: "";
  /* position: absolute; */
  background: white;
  height: 1px;
  width: 50px;
  margin-top: 10px;
  margin-right: 10px;
}

.Skills {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 50px;
  flex-wrap: wrap;
  margin-left: -10px;
}

.skill {
  padding: 5%;
  box-shadow: 0 5px 20px black;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 200px;
  height: 200px;
}

.html:hover {
  box-shadow: 0 5px 20px red;
  transition: 1s;
}

.Skill_Tag {
  font-size: 20px;
  margin-top: 10px;
}

.python:hover {
  box-shadow: 0 5px 20px red;
  transition: 1s;
}

.javascript:hover {
  box-shadow: 0 5px 20px red;
  transition: 1s;
}

.css:hover {
  box-shadow: 0 5px 20px red;
  transition: 1s;
}

@media only screen and (max-width: 600px) {
  .skill {
    margin-top: 30%;
  }
}
