#about-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  color: white;
  background-color: #111;
  /* display: none; */
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* width: 40%; */
  padding-left: 50px;
  /* box-shadow: 0 5px 20px cyan; */
}

.my-name {
  font-size: 40px;
}

.about-heading {
  font-size: 40px;
  display: flex;
  margin-bottom: 40px;
}

.About-me {
  margin-top: 30px;
}

.image {
  border: 3px cyan solid;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  object-fit: fill;
  margin: 10%;
  box-shadow: 0 5px 20px cyan;
}
